img {
    position: relative;
    top: 0%;
    left: 18%;
    width: 50%;
    height: 60%;
}
h1 {
    position: relative; 
    top: 0%;
    font-family:cursive;
    font-size: 150%;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px black;
}
p {
    position: relative;
    top: 0%;
    font-family:cursive;
    font-size: 140%;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px black;
    width: 70%;
    left: 10%;
}
body {
    background-image: url(../images/extrabg.jpg);
    background-size: cover;
    overflow-x: hidden;
}
a {
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

#Ibutton {

    position: relative;
    font-family:cursive;
    font-size: 200%;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px black;
    left: 75%;
    top: -25%;
    border-style: double;
    border-width: 4px;
    width: 10%;
}



#Jbutton {
    position: relative;
    font-family:cursive;
    font-size: 200%;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px black;
    left: 75%;
    top: -25%;
    border-style: double;
    border-width: 4px;
    width: 10%;
}